<!DOCTYPE html>
<html>
<head> </head>
<h1>
    Customer Home
</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="post" action="/User">

    <input type="submit" name="viewstatement" value="View Statement">
    <input type="submit" name="blockcard" value="Block Card">
    <input type="submit" name="changepin" value="Change Pin">

</form>



</html>