<!DOCTYPE html>
<html>
<head> </head>
<h1>
    Customer Home
</h1>


<p align="center"><a href= "{{ url_for('statement') }}" ><button class=grey style="height:75px;width:150px">View Statement</button></a></p>
<!---- button for changing pin --->
<!--- <p align="center"><a href= DEF_IN_PIN_ ROUTE HERE ><button class=grey style="height:75px;width:150px">Change Pin</button></a></p> --->
<!---- button for block card --->
<!--- <p align="center"><a href= DEF_IN_BLOCK_CARD HERE ><button class=grey style="height:75px;width:150px">Block Card</button></a></p> --->

</html>