<!DOCTYPE html>
<html>
<head> </head>
<center>
<h1>
    Customer Home
</h1>
</center>

<p align="center"><a href= "/ViewStatement" ><button class=grey style="height:75px;width:150px">View Statement</button></a></p>
<!---- button for changing pin --->
<p align="center"><a href= "/pinChange" ROUTE HERE ><button class=grey style="height:75px;width:150px">Change Pin</button></a></p>
<!---- button for block card --->
<!--- <p align="center"><a href= DEF_IN_BLOCK_CARD HERE ><button class=grey style="height:75px;width:150px">Block Card</button></a></p> --->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="post" action="/User">

    <input type="submit" name="viewstatement" value="View Statement">
    <input type="submit" name="blockcard" value="Block Card">
    <input type="submit" name="changepin" value="Change Pin">

</form>



</html>