<!DOCTYPE html>
<html>
    <head>
        <title>
            List of onboarded customers 
        </title>
        <style>
            table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          }
          th, td {
          padding: 15px;
          text-align: left;
          }
          </style>
        </head>

    <body>
        {% block main%}
        <p>The list of customer </p>
        <table>
            <thead>
            <tr>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>STATUS</th>
            </tr>
            </thead>
        <tbody>
        {% for i in data %}
        <tr>
            <td>
                {{i.firstName}}  
            </td>
            <td>
                {{i.lastName}}
            </td>
            <td>Account Opened 

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    
    </body>
    {% endblock %}

    <a href="/EmployeeDashboard">Navigate back</a>
</html>