<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
    <table>
    
        <div class="container">
            <h2>ENROLL CUSTOMER</h2>           
            <table class="table table-striped">
              <form action="/Enroll" method="POST">
              {% block main %}
              {{form.csrf_token()}}
              <tbody>
                <tr>
                  <td>FIRST NAME</td>
                  
                  <td>{{form.FIRSTNAME}}</td>
                </tr>
                <tr>
                  <td>SURNAME</td>
                  
                  <td>{{form.SURNAME}}</td>
                </tr>
                <tr>
                  <td>DOB</td>
                  <td><input type="date" id="dob"></td>
                </tr>
                <td>EMAIL</td>
                  <td>{{form.EMAIL}}</td>
                </tr>
                <td>ADDRESS</td>
                  <td>{{form.ADDRESS}}</textarea></td>
                </tr>
            <tr>
            <td>CONTACT NUMBER</td>
              <td><input type="number" id="phno"></td>
            </tr>
            <tr>
                <td>OCCUPATION</td>
                  <td><input type="text" id="work"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{form.SUBMIT}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
    </table>
  </form>
</body>
{% endblock %}
</html>