<!DOCTYPE html>
<html>
    <head>
        <title>Enter Transaction details </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script>
          function myfunc() {
            alert("Transaction Submitted for Verification");
          }
          </script>
    </head>
    <body>
    <table>
    
        <div class="container">
            <h2>TRANSACTION_ENTRY</h2>           
            <table class="table table-striped">
              <form action="/EnterTransaction" method="POST">
              {% block main %}
              {{form.csrf_token()}}
              <tbody>
                <tr>
                  <td>CARD NUMBER</td>
                  <td>{{form.cardNumber}}</td>
                </tr>
                <tr>
                  <td>TRANSACTION TYPE</td>
                  <td>
                  <select name="{{form.transactionType}}">
                    {% for transactionType in TransTypes %}
                      <option {% if transactionType.Selected %}selected="selected"{% endif %}>{{ transactionType.Label }}</option>
                    {% endfor %}
                  </select>
                  
                  </td>
                </tr>
                <tr>
                  <td>TRANSACTION SOURCE</td>
                  <td>
                  <select name="{{form.transactionSource}}">
                    {% for srcType in SrcTypes %}
                      <option {% if srcType.Selected %}selected="selected"{% endif %}>{{ srcType.Label }}</option>
                    {% endfor %}
                  </select></td>
                </tr>
                <tr>
                  <td>CARD PIN</td>
                  <td>{{form.cardPin}}</td>
                </tr>
                <tr>
                    <td>EXPIRY DATE</td>
                    <td>{{form.cardExpiryDate}}</td>
                </tr>
                <tr>
                    <td>AMOUNT</td>
                    <td>{{form.amount}}</td>
                </tr>
                <tr>
                    <td>TIMESTAMP</td>
                    <td>{{form.timestamp}}</td>
                </tr>
            <tr>
                <td></td>
              <td><button onclick="myfunc()">{{form.submit}}</button></td>
            </tr>
              </tbody>
            </table>
          </div>
    </table>
  </form>
</body>
{% endblock %}
</html>