<!DOCTYPE html>
<html>
    <head>
        <title>Enter Transaction details </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script>
          function myfunc() {
            alert("Transaction Submitted for Verification");
          }
          </script>
    </head>
    <body>
    <table>
    
        <div class="container">
            <h2>TRANSACTION_ENTRY</h2>           
            <table class="table table-striped">
              <form action="/EnterTransaction" method="POST">
              {% block main %}
              {{form.csrf_token()}}
              <tbody>
                <tr>
                  <td>CARD NUMBER</td>
                  <td>{{form.cardNumber}}</td>
                </tr>
                <tr>
                  <td>DEBIT/CREDIT TRANSACTION TYPE</td>
                  <td>{{form.transactionType}}</td>
                </tr>
                <tr>
                  <td>TRANSACTION SOURCE</td>
                  <td>{{form.transactionSource}}</td>
                </tr>
                <tr>
                    <td>TIMESTAMP</td>
                    <td>{{form.timestamp}}</td>
                  </tr>
                <td>AMOUNT</td>
                  <td>{{form.amount}}</td>
                </tr>
            <tr>
                <td></td>
              <td><button onclick="myfunc()">{{form.submit}}</button></td>
            </tr>
              </tbody>
            </table>
          </div>
    </table>
  </form>
</body>
{% endblock %}
</html>