<html>
{% block content %}
<center>
  <br><br><br><br><br><br><br>
    <h1>Sign In</h1>

    <form method="POST" action="/login">
      {{ form.csrf_token() }}
      <fieldset class="email">
        {{ form.email(placeholder='youremail@example.com') }}
      </fieldset>

      <fieldset class="password">
        {{ form.password }}
      </fieldset>

      <div class="submit-button">
        {{ form.submit }}
      </div>
      <a href="/CustomerApplication">New here, Please Register </a>
      <p><a href="/EnterTransaction">Add Transactions here</a></p>
    </form>
  </div>
</center>

<style>
  fieldset{  
  width: 200px;
  margin: 0 auto;
  border: 1px solid rgb(255,232,57);
}
</style>
{% endblock %}
</html>