<html>
{% block content %}
<center>
  <div style="
  position: relative;
  top: 75px;
  width: 340px;
  height: 319px;
  vertical-align: center;
  background-color: #50828d;
">
    <h1>Card Management System</h1>
  
  Login here.
    <form method="POST" action="/login">
      {% if 'csrf_token' in form %}
        {{form.csrf_token}}
      {% endif %}
      <fieldset class="email">
        {{ form.email(placeholder='youremail@example.com') }}
      </fieldset>

      <fieldset class="password">
        {{ form.password }}
      </fieldset>
      <br>
      <div class="submit-button">
        {{ form.submit }}
      </div>
      <br>
      <a href="/CustomerApplication">Enroll for Card </a>
      
    </form>
  </div>
  <br>
  <br>
  <br><br>
  <br>
  <br>
  <p><a href="/EnterTransaction">Add Transactions here</a></p>
</center>

<style>
  fieldset{  
  width: 200px;
  margin: 0 auto;
  border: 1px solid rgb(248, 247, 241);
}

#submit {
  background-color: #bfc2bf; /* Green */
  border: none;
  color: white;
  padding: 8px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
</style>
{% endblock %}
</html>