<html>
    <title>Register</title>
    <h1>Enter your Details</h1>
    <br>
    <form method='POST' action="">
        Name <input type='text' name='name'/>
        <br>
        Phone Number <input type='text' name='phonenumber'/>
        <br>
        Address <input type='text' name='address'/>
        <br>
        Email <input type='text' name='email'/>
        <br>
        Date Of Birth <input type='text' name='date'/>
        <br>
        Occupation <input type='text' name='occupation'/>
        <br>
        Income <input type='text' name='income'/>
        <br>
        Username <input type='text' name='username'/>
        <br>
        Password <input type='password' name='password'/>
        <br>
        <input type='submit'>
    </form>
</html>