
{% extends "AdminLayout.html" %}
{% block content %}


<form name="formbatch" action="/registerbatch"  method="post">
    <p>
        Batch Type :<select name="batchProcessType">
            {% for batchProcessType in BatchProcessTypes %}
            <option {% if batchProcessType.Selected %}selected="selected"{% endif %}>{{ batchProcessType.Label }}</option>
            {% endfor %}
        </select>
    </p>
    <p>
        Select Frequency : <select name="batchType">
            {% for batchType in BatchTypes %}
            <option {% if batchType.Selected %}selected="selected"{% endif %}>{{ batchType.Label }}</option>
            {% endfor %}
        </select>
    </p>
    <p>
        <h4>Daily or Fixed </h4>
        Date : <input type="date" name="torundate" placeholder="YYYY-DD-MM">
    </p>
    <p>
        <h4>Weekly</h4>
        Days of Week : <input type="text" name="dayfrequency" placeholder="[1-7]">
    </p>
    <p>
        <h4>Monthly </h4>
        Days of Month : <input type="text" name="monthfrequency" placeholder="1-30(or 28)">
    </p>
    <p>
        <h4>Yearly </h4>
        Days of Year : <input type="text" name="yearfrequency" placeholder="[1-365]">
    </p>
    <p>
        Time : <input type="time" name="toruntime">
        <input type="text"  name="time" value="" readonly>
    </p>
    
    <button type="submit" class="btn btn-default">Register Batch</button>
    </form> 

    <table>
        <tr>
            <th>Batch Type</th>
        </tr>
        <tbody>
            {% for bat in batchlist %}
            <tr>
                <td>{{bat.batchTypeName}}</td>
                <td>{{bat.batchProcessTypeName}}</td>
                <td>{{bat.frequency}}</td>
                <td>{{bat.date}}</td>
                <td>{{bat.createdDate}}</td>
                <td>{{bat.lastRunDate}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
    