{% extends "AdminLayout.html" %}
{% block content %}
<h3>
    Requests to Unblock Card
</h3>

<style>
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
</style>

<table>
<form action="/unblock" method="POST">
<tr>
    <th>Sr. No</th>
    <th>Card Number</th>
    <th>Unblock?</th>
</tr>
<tbody>
{% for app in data.cardToUnblockList %}
<tr>
    <td>{{loop.index}}</td>
    <td>{{app[0]}}</td>
    <td><button class="btn btn-danger" type="submit" name="add" value="{{app[0]}}">Unblock</button></td>
</tr>
{% endfor %}
</tbody>
</table>
</form>
{% if not data.cardToUnblockList %}
    <p>No cards to unblock</p>
{%endif %}
{% endblock %}
