<!doctype html>
<head>
  <script>
    function myfunc() {
      alert("Customers onboarded Sucessfully");
    }
    </script>
</head>
<style>
  table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th, td {
padding: 15px;
text-align: left;
}
</style>
<h2>WELCOME EMPLOYEE </h2><a href="/">LOGOUT</a>
<h4>List of Customers pending for onboarding</h4>

<p></p>
<table>
  <tr>
      <th>FIRST NAME</th>
      <th>LAST NAME</th>
      <th>EMAIL</th>
      <th>MONTHLY INCOME</th>
      <th>CARD TYPE</th>
      <th>ACTION REQUIRED</th>
  </tr>
  <tbody>
  {% for app in data.applications %}
  <tr>
  
      <td>{{app.firstName}}</td>
      <td>{{app.lastName}}</td>
      <td>{{app.email}}</td>
      <td>{{app.monthly_income}}</td>
      <td>{{app.card_type}}</td>
      <td>
      <form method="POST" action="/EmployeeDashboard">
      <input type="submit" value="onboard" name="onboard" onclick="myfunc()">
      </form>
      </td>
  </tr>
  {% endfor %}
 </tbody>
</table>
<footer> <a href="/BulkUpload"><b>BULK ONBOARD</b></a></footer>



  
  
  