<!doctype html>
<style>
  table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th, td {
padding: 15px;
text-align: left;
}
</style>
<h4>List of Customers pending for onboarding</h4>
<table>
  <tr>
      <th>FIRST NAME</th>
      <th>LAST NAME</th>
      <th>EMAIL</th>
      <th>MONTHLY INCOME</th>
      <th>CARD TYPE</th>
      <th>ACTION REQUIRED</th>
  </tr>
  <tbody>
  {% for app in data.applications %}
  <tr>
  
      <td>{{app.firstName}}</td>
      <td>{{app.lastName}}</td>
      <td>{{app.email}}</td>
      <td>{{app.monthly_income}}</td>
      <td>{{app.cardType}}</td>
      <td>
      <form method="POST" action="/singleupload?id={{app.id}}">
      <input type="submit" value="OnBoard" name="onboard">
      </form>
      </td>
  </tr>
  {% endfor %}
</tbody>
</table>
<footer> <a href="/bulkupload"><b>BULK ONBOARD</b></a></footer>
  