<!DOCTYPE html>
<html>
    <head>
        <title>
            Statement
        </title>
    </head>

    <style>
        table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 15px;
      text-align: left;
    }
    </style>

{% block main%}
<body>
    
    <p>Statement for Card Number: {{ statement.cardNumber }}</p>
    <table>
        <tr>
            <th>Transaction Date</th>
            <th>Amount</th>
        </tr>
    <tbody>
    {% for i in statement.statement%}
    <tr>
        <td>
        {{i.timestamp}}  
    </td>
    <td>
        {{i.amount}}
    </td>
</tr>
</tbody>
{% endfor %}
<tr>
    <td>Total Amount to be paid</td>
    <td>
        {{statement.sum}}
    </td>
</tr>
<tr>
    <td>Available Balance</td>
    <td>
        {{statement.avlbal}}
    </td>
</tr>    
  
</tr>
</table>
   

</body>
{% endblock %}
</html>